@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cabin:ital,wght@0,400..700;1,400..700&family=News+Cycle:wght@400;700&family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap");
.IFNODATA {
  color: lime;
  text-align: center;
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}
